In [81]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as plt;
import seaborn as ss;

In [82]:
df = pd.read_csv("sample_data/finance_economics_dataset.csv")
print(df.head())

         Date Stock Index  Open Price  Close Price  Daily High  Daily Low  \
0  2000-01-01   Dow Jones     2128.75      2138.48     2143.70    2100.55
1  2000-01-02     S&P 500     2046.82      2036.18     2082.83    2009.53
2  2000-01-03   Dow Jones     1987.92      1985.26     2022.28    1978.37
3  2000-01-04   Dow Jones     4625.02      4660.47     4665.26    4595.46
4  2000-01-05     S&P 500     1998.18      1982.18     2044.31    1966.44

   Trading Volume  GDP Growth (%)  Inflation Rate (%)  Unemployment Rate (%)  \
0         2670411           -0.37                6.06                   6.10
1       690220415            3.19                4.95                   6.62
2       315284661            5.54                9.13                   2.60
3        13098297           10.00                3.77                   2.20
4       385306746            1.53                2.20                   8.20

   ...  Forex USD/EUR  Forex USD/JPY  Crude Oil Price (USD per Barrel)  \
0  ...           1.04         119.87                             47.20
1  ...           1.00          98.22                             52.84
2  ...           0.83          80.13                             78.80
3  ...           0.95         149.15                             28.18
4  ...           1.43         113.71                             92.20

   Gold Price (USD per Ounce)  Real Estate Index  Retail Sales (Billion USD)  \
0                     1052.34             390.23                        2229
1                     1957.73             346.23                        4156
2                     2339.49             439.46                         340
3                     1308.54             213.07                        8456
4                     2210.08             405.49                        1596

   Bankruptcy Rate (%)  Mergers & Acquisitions Deals  \
0                 2.12                             3
1                 1.40                            21
2                 0.79                            48
3                 4.22                            16
4                 2.21                            34

   Venture Capital Funding (Billion USD)  Consumer Spending (Billion USD)
0                                  76.64                             4589
1                                   5.67                            10101
2                                  39.43                            13665
3                                  12.83                             5192
4                                  86.37                            10688

[5 rows x 24 columns]

In [83]:
# Q1. What is the shape of the dataset?
shape = np.shape(df)
print(shape)

(3000, 24)

In [84]:
#Q2. What are the column names and their data types?
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Date                                   3000 non-null   object
 1   Stock Index                            3000 non-null   object
 2   Open Price                             3000 non-null   float64
 3   Close Price                            3000 non-null   float64
 4   Daily High                             3000 non-null   float64
 5   Daily Low                              3000 non-null   float64
 6   Trading Volume                         3000 non-null   int64
 7   GDP Growth (%)                         3000 non-null   float64
 8   Inflation Rate (%)                     3000 non-null   float64
 9   Unemployment Rate (%)                  3000 non-null   float64
 10  Interest Rate (%)                      3000 non-null   float64
 11  Consumer Confidence Index              3000 non-null   int64
 12  Government Debt (Billion USD)          3000 non-null   int64
 13  Corporate Profits (Billion USD)        3000 non-null   int64
 14  Forex USD/EUR                          3000 non-null   float64
 15  Forex USD/JPY                          3000 non-null   float64
 16  Crude Oil Price (USD per Barrel)       3000 non-null   float64
 17  Gold Price (USD per Ounce)             3000 non-null   float64
 18  Real Estate Index                      3000 non-null   float64
 19  Retail Sales (Billion USD)             3000 non-null   int64
 20  Bankruptcy Rate (%)                    3000 non-null   float64
 21  Mergers & Acquisitions Deals           3000 non-null   int64
 22  Venture Capital Funding (Billion USD)  3000 non-null   float64
 23  Consumer Spending (Billion USD)        3000 non-null   int64
dtypes: float64(15), int64(7), object(2)
memory usage: 562.6+ KB
None

In [85]:
#Q 3. How many unique stock indices are there?
uniq_indi = df["Stock Index"].nunique()
print("Number of unique stock is : ",uniq_indi)

Number of unique stock is :  3

In [86]:
#Q 4. What is the date range of the dataset?
start_date = df["Date"].min()
end_date = df["Date"].max()
print("Dataset date range is :",start_date,"to",end_date)

Dataset date range is : 2000-01-01 to 2008-03-18

In [87]:
# Q5. Are there any missing values?
print(df.isnull().sum())

Date                                     0
Stock Index                              0
Open Price                               0
Close Price                              0
Daily High                               0
Daily Low                                0
Trading Volume                           0
GDP Growth (%)                           0
Inflation Rate (%)                       0
Unemployment Rate (%)                    0
Interest Rate (%)                        0
Consumer Confidence Index                0
Government Debt (Billion USD)            0
Corporate Profits (Billion USD)          0
Forex USD/EUR                            0
Forex USD/JPY                            0
Crude Oil Price (USD per Barrel)         0
Gold Price (USD per Ounce)               0
Real Estate Index                        0
Retail Sales (Billion USD)               0
Bankruptcy Rate (%)                      0
Mergers & Acquisitions Deals             0
Venture Capital Funding (Billion USD)    0
Consumer Spending (Billion USD)          0
dtype: int64

In [88]:
# Q6. Are there negative values in columns that should be non-negative?
non_negetive = ["Open Price","Close Price","Daily High","Daily Low", "Consumer Confidence Index","Government Debt (Billion USD)","Forex USD/EUR",
                 "Forex USD/JPY","Crude Oil Price (USD per Barrel)","Gold Price (USD per Ounce)",
                "Real Estate Index","Retail Sales (Billion USD)","Bankruptcy Rate (%)",
                "Mergers & Acquisitions Deals","Venture Capital Funding (Billion USD)",
                "Consumer Spending (Billion USD)"
               ]
for col in non_negetive:
  if (df[col] < 0).any():
    print(f"Column {col} has negative values.")
  else:
    print(f"Column {col} does not have negative values.")

Column Open Price does not have negative values.
Column Close Price does not have negative values.
Column Daily High does not have negative values.
Column Daily Low does not have negative values.
Column Consumer Confidence Index does not have negative values.
Column Government Debt (Billion USD) does not have negative values.
Column Forex USD/EUR does not have negative values.
Column Forex USD/JPY does not have negative values.
Column Crude Oil Price (USD per Barrel) does not have negative values.
Column Gold Price (USD per Ounce) does not have negative values.
Column Real Estate Index does not have negative values.
Column Retail Sales (Billion USD) does not have negative values.
Column Bankruptcy Rate (%) does not have negative values.
Column Mergers & Acquisitions Deals does not have negative values.
Column Venture Capital Funding (Billion USD) does not have negative values.
Column Consumer Spending (Billion USD) does not have negative values.

In [89]:
#Q7. What is the summary of GDP Growth (%)?
summary = df["GDP Growth (%)"].describe()
print(summary)

count    3000.000000
mean        2.608903
std         4.287337
min        -5.000000
25%        -1.012500
50%         2.725000
75%         6.242500
max        10.000000
Name: GDP Growth (%), dtype: float64

In [90]:
# Q8. Are there rows with zero or near-zero trading volume?
zero_value = df[df["Trading Volume"]==0]
print(zero_value)
near_zero = df[df["Trading Volume"]<1]
print("Near zero values is \n",near_zero)

Empty DataFrame
Columns: [Date, Stock Index, Open Price, Close Price, Daily High, Daily Low, Trading Volume, GDP Growth (%), Inflation Rate (%), Unemployment Rate (%), Interest Rate (%), Consumer Confidence Index, Government Debt (Billion USD), Corporate Profits (Billion USD), Forex USD/EUR, Forex USD/JPY, Crude Oil Price (USD per Barrel), Gold Price (USD per Ounce), Real Estate Index, Retail Sales (Billion USD), Bankruptcy Rate (%), Mergers & Acquisitions Deals, Venture Capital Funding (Billion USD), Consumer Spending (Billion USD)]
Index: []

[0 rows x 24 columns]
Near zero values is
 Empty DataFrame
Columns: [Date, Stock Index, Open Price, Close Price, Daily High, Daily Low, Trading Volume, GDP Growth (%), Inflation Rate (%), Unemployment Rate (%), Interest Rate (%), Consumer Confidence Index, Government Debt (Billion USD), Corporate Profits (Billion USD), Forex USD/EUR, Forex USD/JPY, Crude Oil Price (USD per Barrel), Gold Price (USD per Ounce), Real Estate Index, Retail Sales (Billion USD), Bankruptcy Rate (%), Mergers & Acquisitions Deals, Venture Capital Funding (Billion USD), Consumer Spending (Billion USD)]
Index: []

[0 rows x 24 columns]

In [91]:
#Q9. Are there any duplicate rows?
duplicated = df.duplicated()
print(duplicated)

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Length: 3000, dtype: bool

In [92]:
#Q10. Are there outliers in GDP, Gold, or Oil prices?
def find_outliers(column):
  Q1 = df[column].quantile(0.25)
  Q3 = df[column].quantile(0.75)
  IQR = Q3 - Q1
  lower_bound = Q1 - 1.5 * IQR
  upper_bound = Q3 + 1.5 * IQR
  outliers = (df[(df[column] < lower_bound) | (df[column] > upper_bound)])
  print(f"\nColumn:{column}")
  print(f"Lower Bound :{lower_bound}")
  print(f"Upper Bound : {upper_bound}")
  print(outliers)
find_outliers("GDP Growth (%)")
find_outliers("Gold Price (USD per Ounce)")
find_outliers("Crude Oil Price (USD per Barrel)")

Column:GDP Growth (%)
Lower Bound :-11.895
Upper Bound : 17.125
Empty DataFrame
Columns: [Date, Stock Index, Open Price, Close Price, Daily High, Daily Low, Trading Volume, GDP Growth (%), Inflation Rate (%), Unemployment Rate (%), Interest Rate (%), Consumer Confidence Index, Government Debt (Billion USD), Corporate Profits (Billion USD), Forex USD/EUR, Forex USD/JPY, Crude Oil Price (USD per Barrel), Gold Price (USD per Ounce), Real Estate Index, Retail Sales (Billion USD), Bankruptcy Rate (%), Mergers & Acquisitions Deals, Venture Capital Funding (Billion USD), Consumer Spending (Billion USD)]
Index: []

[0 rows x 24 columns]

Column:Gold Price (USD per Ounce)
Lower Bound :-54.25125000000003
Upper Bound : 3361.71875
Empty DataFrame
Columns: [Date, Stock Index, Open Price, Close Price, Daily High, Daily Low, Trading Volume, GDP Growth (%), Inflation Rate (%), Unemployment Rate (%), Interest Rate (%), Consumer Confidence Index, Government Debt (Billion USD), Corporate Profits (Billion USD), Forex USD/EUR, Forex USD/JPY, Crude Oil Price (USD per Barrel), Gold Price (USD per Ounce), Real Estate Index, Retail Sales (Billion USD), Bankruptcy Rate (%), Mergers & Acquisitions Deals, Venture Capital Funding (Billion USD), Consumer Spending (Billion USD)]
Index: []

[0 rows x 24 columns]

Column:Crude Oil Price (USD per Barrel)
Lower Bound :-47.25
Upper Bound : 218.99
Empty DataFrame
Columns: [Date, Stock Index, Open Price, Close Price, Daily High, Daily Low, Trading Volume, GDP Growth (%), Inflation Rate (%), Unemployment Rate (%), Interest Rate (%), Consumer Confidence Index, Government Debt (Billion USD), Corporate Profits (Billion USD), Forex USD/EUR, Forex USD/JPY, Crude Oil Price (USD per Barrel), Gold Price (USD per Ounce), Real Estate Index, Retail Sales (Billion USD), Bankruptcy Rate (%), Mergers & Acquisitions Deals, Venture Capital Funding (Billion USD), Consumer Spending (Billion USD)]
Index: []

[0 rows x 24 columns]

In [93]:
# Q11. What is the summary of Inflation Rate (%)?
summary = df["Inflation Rate (%)"].describe()
print(summary)

count    3000.000000
mean        5.096830
std         2.910513
min         0.010000
25%         2.607500
50%         5.110000
75%         7.600000
max        10.000000
Name: Inflation Rate (%), dtype: float64

In [94]:
#Q12. What is the average unemployment rate?
print("Unemployement average rate is :",df["Unemployment Rate (%)"].mean())

Unemployement average rate is : 8.663786666666667

In [95]:
#Q13. Which index has the highest trading volume?
high_index = df.groupby("Stock Index")["Trading Volume"].sum()
print("Index of highest trading volume :",high_index)

Index of highest trading volume : Stock Index
Dow Jones    477653121048
NASDAQ       499464048465
S&P 500      533041986803
Name: Trading Volume, dtype: int64

In [96]:
# Q14. How many stock records are from each index?
record = df["Stock Index"].value_counts()
print("Total stock records from each index is :",record)

Total stock records from each index is : Stock Index
S&P 500      1036
NASDAQ       1007
Dow Jones     957
Name: count, dtype: int64

In [97]:
# Q15. What is the correlation between inflation and interest rate?
relation = df["Inflation Rate (%)"].corr(df["Interest Rate (%)"])
print("Correlation:",relation)
if relation > 0.2:
  print("High correlation")
else:
  print("Low correlation")

Correlation: 0.00573292723557624
Low correlation

In [98]:
# Q16. What is the average Consumer Confidence Index?
avg = df["Consumer Confidence Index"].mean()
print("Average Consumer Confidence is :",avg)

Average Consumer Confidence is : 85.036

In [99]:
#Q17. Which column has the highest standard deviation?
std_values = df.std(numeric_only=True)
high = std_values.idxmax()
print("Column with highest standard deviation is :",high)
high_value = std_values.max()
print("Highest standard deviation is :",high_value)

Column with highest standard deviation is : Trading Volume
Highest standard deviation is : 285900426.3714706

In [100]:
# Q18. What is the highest gold price recorded?
gold_high = df["Gold Price (USD per Ounce)"].max()
print("Highest gold price is : ",gold_high)

Highest gold price is :  2499.66

In [101]:
# Q19. Which date had the highest crude oil price?
date_max = df.loc[df["Crude Oil Price (USD per Barrel)"].idxmax()],"Date"
print(date_max)

(Date                                     2001-11-22
Stock Index                                 S&P 500
Open Price                                  3123.75
Close Price                                 3097.04
Daily High                                  3145.15
Daily Low                                   3083.06
Trading Volume                            911856827
GDP Growth (%)                                 -0.6
Inflation Rate (%)                             3.13
Unemployment Rate (%)                         12.94
Interest Rate (%)                              6.35
Consumer Confidence Index                        63
Government Debt (Billion USD)                 26345
Corporate Profits (Billion USD)                3790
Forex USD/EUR                                  1.13
Forex USD/JPY                                109.54
Crude Oil Price (USD per Barrel)             149.87
Gold Price (USD per Ounce)                  1568.83
Real Estate Index                            322.32
Retail Sales (Billion USD)                     8963
Bankruptcy Rate (%)                             7.8
Mergers & Acquisitions Deals                     10
Venture Capital Funding (Billion USD)         44.33
Consumer Spending (Billion USD)               14223
Name: 691, dtype: object, 'Date')

In [102]:
# Q20. What is the average corporate profit?
avg_profit = df["Corporate Profits (Billion USD)"].mean()
print("Average corporate profit is :",avg_profit)

Average corporate profit is : 2553.7563333333333

In [103]:
#Insightful Analysis Questions
#These questions aim to uncover key relationships and gain deeper knowledge about
#cardiovascular disease. To answer them, you’ll need to analyze the data and write down any
#patterns, trends, or observations you notice during the process



# Q 1. What percentage of the dataset shows negative GDP growth?
negative = (df[df["GDP Growth (%)"]<0].shape[0]/df.shape[0])*100
print(negative)

31.566666666666666

In [104]:
# Q2. Does high inflation correspond to higher interest rates?
correlation = df["Inflation Rate (%)"].corr(df["Interest Rate (%)"])
print("Correlation between inflation and interest rate is :",correlation)
if correlation > 0.2:
  print("Yes, higher inflation corresponds to higher interest rates")
else:
  print("No, higher inflation does not correspond to higher interest rates")

Correlation between inflation and interest rate is : 0.00573292723557624
No, higher inflation does not correspond to higher interest rates

In [105]:
# Q3. Is there a relationship between unemployment and consumer spending?
cor = df["Unemployment Rate (%)"].corr(df["Consumer Spending (Billion USD)"])
print("Correlation is : ",cor)

Correlation is :  0.018786001938759088

In [106]:
# Q4. Do higher corporate profits align with higher consumer confidence?
cor = df["Corporate Profits (Billion USD)"].corr(df["Consumer Confidence Index"])
print()
if cor > -0.2:
  print("Yes. they align (Positive Retationship)")
elif cor < -0.2:
  print("No,they move in opposite directions (Negetive)")
else:
  print("No clear relationship")

Yes. they align (Positive Retationship)

In [107]:
# Q5. What’s the trend of crude oil prices over time?
print(df['Crude Oil Price (USD per Barrel)'].describe())

count    3000.000000
mean       85.539953
std        37.847063
min        20.040000
25%        52.590000
50%        85.080000
75%       119.150000
max       149.870000
Name: Crude Oil Price (USD per Barrel), dtype: float64

In [108]:
# Q6. Are gold prices inversely related to stock performance?
corr_value = df["Gold Price (USD per Ounce)"].corr(df["Close Price"])
dis = "Yes , inversaly related" if corr_value < -0.2 else "No, Inversaly related"
print(dis)

No, Inversaly related

In [109]:
# Q7. Does government debt impact consumer confidence?
corr1 = df["Government Debt (Billion USD)"].corr(df["Consumer Confidence Index"])
print("Correlation:",corr1)
if corr1 > 0:
  print("Yes, government debt impacts consumer confidence")
else:
  print("No, government debt does not impact consumer confidence")

Correlation: -0.03637006085825002
No, government debt does not impact consumer confidence

In [110]:
# Q8. How do mergers & acquisitions (M&A) activity correlate with stock index closing prices?
co1 = df["Mergers & Acquisitions Deals"].corr(df["Close Price"])
print("Correlation is :",co1)
if co1 > 0:
  print("Yes thier are correlated")
elif co1 < 0:
  print("No thier are not correlated")
else:
  print("No clear relationship")

Correlation is : 0.002637100789439038
Yes thier are correlated

In [111]:
# Q9. Is retail sales growth associated with GDP growth?
retail = df["Retail Sales (Billion USD)"].corr(df["GDP Growth (%)"])
print("Retail correlation : ",retail)
if retail > 0:
  print("Yes, retail sales growth associated with GDP growth")
elif retail < 0:
  print("No, retail sales growth associated with GDP growth")
else:
  print("No clear relationship")

Retail correlation :  -0.014287611445719916
No, retail sales growth associated with GDP growth

In [112]:
# Q10. Is stock market performance linked to consumer spending?
sm = df["Close Price"].corr(df["Consumer Spending (Billion USD)"])
print("Correlation :",sm)
if sm > 0:
  print("Yes, stock market performance linked to consumer spending")
elif sm < 0:
  print("No, stock market performance linked to consumer spending")
else:
  print("No clear relationship")

Correlation : 0.000375559393188518
Yes, stock market performance linked to consumer spending

In [113]:
# Q11. Which stock index had the highest average closing price?
avg_close = df.groupby("Stock Index")["Close Price"].mean()
highest_avg = avg_close.idxmax()
print("Stock index with highest average closing price : ",highest_avg)

Stock index with highest average closing price :  Dow Jones

In [114]:
# Q12. What is the relationship between interest rate and unemployment?
rel = df["Interest Rate (%)"].corr(df["Unemployment Rate (%)"])
print("Correlation : ",rel)
if rel > 0:
  print("yes, they are move in same direction")
elif rel < 0:
  print("No, they are move in opposite direction")
else:
  print("No clear relationship")

Correlation :  0.01800407213097277
yes, they are move in same direction

In [115]:
# Q13. Do lower consumer confidence values coincide with higher bankruptcy rates?
cb = df["Consumer Confidence Index"].corr(df["Bankruptcy Rate (%)"])
print("correlation :",cb)
if cb < 0:
  print("Yes , lower consumer confidence values coincide with higher bankruptcy rates")
else:
  print("No, lower consumer confidence values does not coincide with higher bankruptcy rates")

correlation : -0.01631304347909408
Yes , lower consumer confidence values coincide with higher bankruptcy rates

In [116]:
# Q14. Which indicator has the highest correlation with stock close price?
correlations = df.corr(numeric_only=True)["Close Price"].drop("Close Price")
high_corr = correlations.idxmax()
print("Highest correlation to close price of Indicator :",high_corr)

Highest correlation to close price of Indicator : Daily High

In [117]:
# Q15. Are unemployment rates lower when corporate profits are high?
uc = df["Unemployment Rate (%)"].corr(df["Corporate Profits (Billion USD)"])
print("Correlation is :",uc)

Correlation is : 0.008292414188235562

In [118]:
#Assessment 2: Retail Sales Analysis
#Explore the Data by Answering the Following Questions and Summarize Your Insights
#Use Python libraries such as Pandas, NumPy, Matplotlib, and Seaborn to analyze the data.
#After answering each question, write a brief summary of your findings or observations.

df1 = pd.read_csv("sample_data/Retail_data.csv")
print(df1.head())

  Order No  Order Date           Customer Name  \
0   4293-1  02-09-2014        Vivek Sundaresam
1   5001-1  24-10-2015          Shahid Hopkins
2   5004-1  13-03-2014           Dennis Pardue
3   5009-1  18-02-2013              Sean Wendt
4   5010-1  13-09-2014  Christina Vanderzanden

                          Address       City State   Customer Type  \
0  152 Bunnerong Road,Eastgardens     Sydney   NSW  Small Business
1   438 Victoria Avenue,Chatswood     Sydney   NSW       Corporate
2        412 Brunswick St,Fitzroy  Melbourne   VIC        Consumer
3        145 Ramsay St,Haberfield     Sydney   NSW  Small Business
4          188 Pitt Street,Sydney     Sydney   NSW  Small Business

  Account Manager Order Priority  \
0    Tina Carlton       Critical
1    Natasha Song         Medium
2    Connor Betts  Not Specified
3     Phoebe Gour       Critical
4    Tina Carlton  Not Specified

                                     Product Name  ... Cost Price  \
0  UGen Ultra Professional Cordless Optical Suite  ...    $156.50
1                             Bagged Rubber Bands  ...      $0.24
2                 TechSavi Cordless Navigator Duo  ...     $42.11
3   Artisan Printable Repositionable Plastic Tabs  ...      $5.33
4                       Pizazz Drawing Pencil Set  ...      $1.53

  Retail Price Profit Margin Order Quantity  Sub Total Discount % Discount $  \
0      $300.97       $144.47           23.0  $4,533.52         2%    $194.83
1        $1.26         $1.02            8.0     $45.20         3%      $0.00
2       $80.98        $38.87           45.0    $873.32         4%     $72.23
3        $8.60         $3.27           16.0     $73.52         1%      $4.35
4        $2.78         $1.25           49.0    $138.46         7%      $5.95

   Order Total Shipping Cost      Total
0    $4,757.22         $7.18  $4,291.55
1       $45.90         $0.70     $46.91
2      $837.57         $7.18     $82.58
3      $740.67         $6.19    $730.92
4      $123.77         $1.34    $125.97

[5 rows x 24 columns]

In [119]:
# Q 1 View the structure of the dataset (columns , types , missing values)
summery = pd.DataFrame({
    "Column Name":df1.columns,
    "Data Type":df1.dtypes,
    "Missing Values":df1.isnull().sum()
})
print(summery)

                         Column Name Data Type  Missing Values
Order No                    Order No    object               0
Order Date                Order Date    object               0
Customer Name          Customer Name    object               0
Address                      Address    object               1
City                            City    object               0
State                          State    object               0
Customer Type          Customer Type    object               0
Account Manager      Account Manager    object               0
Order Priority        Order Priority    object               0
Product Name            Product Name    object               0
Product Category    Product Category    object               0
Product Container  Product Container    object               0
Ship Mode                  Ship Mode    object               0
Ship Date                  Ship Date    object               0
Cost Price                Cost Price    object               0
Retail Price            Retail Price    object               0
Profit Margin          Profit Margin    object               0
Order Quantity        Order Quantity   float64               1
Sub Total                  Sub Total    object               0
Discount %                Discount %    object               0
Discount $                Discount $    object               0
Order Total              Order Total    object               0
Shipping Cost          Shipping Cost    object               0
Total                          Total    object               0

In [120]:
# Q 2 What is the shape (rows,columns) of the dataset
print("\nDataset shape is :",df1.shape)

Dataset shape is : (5000, 24)

In [121]:
# Q 3 Are there any duplicate records
print("\nNumber of duplicate rows :",df1.duplicated().sum())

Number of duplicate rows : 0

In [122]:
# Q 4 Check missing value in ship date , order date or numeric columns
col_check = ["Ship Date","Order Date","Cost Price","Retail Price","Profit Margin", "Order Quantity",
             "Sub Total","Discount %","Discount $","Order Total", "Shipping Cost","Total"]
print("\nMissing values :",df1[col_check].isnull().sum())

Missing values : Ship Date         0
Order Date        0
Cost Price        0
Retail Price      0
Profit Margin     0
Order Quantity    1
Sub Total         0
Discount %        0
Discount $        0
Order Total       0
Shipping Cost     0
Total             0
dtype: int64

In [123]:
# Q 5 Convert Order Date and Ship Date to datetime
df1["Order Date"] = pd.to_datetime(df1["Order Date"],format="%d-%m-%Y")
df1["Ship Date"] = pd.to_datetime(df1["Ship Date"],format="%d-%m-%Y")
# print(df1)
print(df1.dtypes)

Order No                     object
Order Date           datetime64[ns]
Customer Name                object
Address                      object
City                         object
State                        object
Customer Type                object
Account Manager              object
Order Priority               object
Product Name                 object
Product Category             object
Product Container            object
Ship Mode                    object
Ship Date            datetime64[ns]
Cost Price                   object
Retail Price                 object
Profit Margin                object
Order Quantity              float64
Sub Total                    object
Discount %                   object
Discount $                   object
Order Total                  object
Shipping Cost                object
Total                        object
dtype: object

In [124]:
# Q 6 Check for future or inconsistent shipping dates
today = pd.Timestamp.today()
shipping_before = df1[df1["Ship Date"] < df1["Order Date"]]
shipping_future = df1[df1["Ship Date"] > today]
print("Shipping before order date \n")
print(shipping_before)
print("Shipping in future :")
print(shipping_future)

Shipping before order date

     Order No Order Date      Customer Name  \
12     5018-1 2013-12-29     Lena Creighton
87     5042-1 2013-06-25         Karl Brown
107    5055-1 2013-09-11     Liz Willingham
149    5070-1 2014-10-29    Mike Gockenbach
204    5106-1 2014-09-04        Cyma Kinney
...       ...        ...                ...
4685   6482-1 2016-11-09  Cassandra Brandow
4710   6496-1 2015-08-31      Henny Holldon
4881   6543-1 2015-09-17         Tony Sayre
4959   6574-1 2017-01-30  Michelle Huthwait
4972   6584-1 2015-08-24     Michael Oakman

                                      Address       City State  \
12                    127 Liverpool St,Sydney     Sydney   NSW
87                 470 Anzac Parade,Kingsford     Sydney   NSW
107                  60 Commercial Rd,Prahran  Melbourne   VIC
149                  224A Gertrude St,Fitzroy  Melbourne   VIC
204   Sydney Fish Market, Bank Street, Sydney     Sydney   NSW
...                                       ...        ...   ...
4685          106 Ebley Street,Bondi Junction     Sydney   NSW
4710                      531 King St,Newtown     Sydney   NSW
4881       499-501 Lygon Street,Carlton North  Melbourne   VIC
4959           834 Bourke Street,Darlinghurst     Sydney   NSW
4972                8 Rankins Lane ,Melbourne  Melbourne   VIC

       Customer Type   Account Manager Order Priority  \
12    Small Business   Samantha Chairs            Low
87       Home Office      Tina Carlton           High
107        Corporate       Yvette Biti  Not Specified
149        Corporate      Connor Betts            Low
204   Small Business       Phoebe Gour           High
...              ...               ...            ...
4685       Corporate  Leighton Forrest       Critical
4710       Corporate       Mihael Khan         Medium
4881  Small Business       Yvette Biti  Not Specified
4959       Corporate       Charlie Bui         Medium
4972        Consumer      Connor Betts            Low

                                           Product Name  ... Cost Price  \
12    TypeRight Side-Opening Peel & Seel Expanding E...  ...     $54.29
87                                      Alto Memo Cubes  ...      $3.32
107     Smiths Premium Bright 1-Pary Blumk Carr Poncils  ...      $1.59
149                           Smiths Standard Envelopes  ...      $3.52
204                     TechSavi Cordless Navigator Duo  ...     $42.11
...                                                 ...  ...        ...
4685                   Creator Anti Dust Chalk, 12/Pack  ...      $1.09
4710  Angle-D Binders with Locking Rings, Label Holders  ...      $4.53
4881                   Steady Major Accent Highlighters  ...      $3.75
4959               Adesso Programmable 142-Key Keyboard  ...     $32.02
4972                            Artisan Durable Binders  ...      $1.84

     Retail Price Profit Margin Order Quantity   Sub Total Discount %  \
12         $90.48        $36.19            1.0   $1,029.50         2%
87          $5.18         $1.86           30.0     $130.42         9%
107         $3.28         $1.71            1.0     $356.12         0%
149         $5.68         $2.16           29.0      $91.14         3%
204        $80.98        $38.87           29.0  $11,447.56         3%
...           ...           ...            ...         ...        ...
4685        $1.82         $0.73            8.0      $72.80         4%
4710        $7.30         $2.77           41.0     $639.36         6%
4881        $7.08         $3.33           38.0     $223.81         0%
4959      $152.48       $120.46           39.0     $622.34         4%
4972        $2.88         $1.04           19.0      $43.78         9%

     Discount $  Order Total Shipping Cost       Total
12       $30.82    $1,762.54        $19.99   $1,740.57
87        $3.01      $128.43         $2.04     $129.03
107       $0.00      $356.12         $0.98     $362.47
149       $5.65       $87.49         $1.39      $88.39
204   $1,123.97   $11,146.33         $7.18  $11,183.15
...         ...          ...           ...         ...
4685      $3.64       $69.16         $1.00      $70.16
4710     $40.76      $691.56         $7.72     $628.37
4881     $12.44      $221.53         $2.35     $226.53
4959     $32.73      $660.83         $4.00     $678.48
4972      $4.06       $42.14         $1.49      $43.93

[75 rows x 24 columns]
Shipping in future :
Empty DataFrame
Columns: [Order No, Order Date, Customer Name, Address, City, State, Customer Type, Account Manager, Order Priority, Product Name, Product Category, Product Container, Ship Mode, Ship Date, Cost Price, Retail Price, Profit Margin, Order Quantity, Sub Total, Discount %, Discount $, Order Total, Shipping Cost, Total]
Index: []

[0 rows x 24 columns]

In [125]:
# Q 7 Convert price columns to numeric (remove $ and commas)
price_columns = ["Cost Price","Retail Price","Discount $","Profit Margin","Discount %","Order Total","Shipping Cost","Sub Total","Total"]
for col in price_columns:
  if df1[col].dtype == "object":
    df1[col] = df1[col].str.replace(r"[\$,%]","",regex=True).astype(float)
  else:
    df1[col]=df1[col].astype(float)
print(df1[price_columns].dtypes)

Cost Price       float64
Retail Price     float64
Discount $       float64
Profit Margin    float64
Discount %       float64
Order Total      float64
Shipping Cost    float64
Sub Total        float64
Total            float64
dtype: object

In [126]:
# Q 8 What are unique values in Customer Type and Order Priority?
print("\nCustomer type unique valuee :",df1["Customer Type"].value_counts())
print("\nOrder Priority unique value :",df1["Order Priority"].value_counts())

Customer type unique valuee : Customer Type
Corporate         1823
Home Office       1232
Small Business    1088
Consumer           857
Name: count, dtype: int64

Order Priority unique value : Order Priority
High             1124
Not Specified    1092
Medium           1038
Critical          885
Low               861
Name: count, dtype: int64

In [127]:
# Q 9 What are the most common shipping modes?
print("\nCommon Shipping modes :",df1["Ship Mode"].value_counts())

Common Shipping modes : Ship Mode
Regular Air       4236
Express Air        647
Delivery Truck     117
Name: count, dtype: int64

In [128]:
# Q 10 Which cities have the highest number of orders?
city = df1["City"].value_counts()
top_city = city.idxmax()
top_count = city.max()
print(f"\n City have highest number of orders : {top_city} {top_count}")

 City have highest number of orders : Sydney 3584

In [129]:
# Q 11 what's the range of order quantities and prices?
order_range = df1["Order Quantity"].max() - df1["Order Quantity"].min()
price_range = df1["Retail Price"].max() - df1["Retail Price"].min()
print(f"\nOrder Quantity range : {order_range}")
print(f"Range of Retail Price : {price_range}")

Order Quantity range : 49.0
Range of Retail Price : 598.85

In [130]:
# Q 12 Create a new column for shipping duration.
print("\n Shipping column add")
df1["Shipping Duration"] = (df1["Ship Date"]-df1["Order Date"]).dt.days
print(df1[["Order Date","Ship Date","Shipping Duration"]].head())

 Shipping column add
  Order Date  Ship Date  Shipping Duration
0 2014-09-02 2014-09-04                  2
1 2015-10-24 2015-10-26                  2
2 2014-03-13 2014-03-13                  0
3 2013-02-18 2013-02-20                  2
4 2014-09-13 2014-09-17                  4

In [131]:
# Q 13 Are there any orders with zero or negative total or quantity?
invalid_order =  df1[(df1["Order Quantity"] <= 0) | (df1["Order Total"]<=0)]
print("\n",invalid_order)

 Empty DataFrame
Columns: [Order No, Order Date, Customer Name, Address, City, State, Customer Type, Account Manager, Order Priority, Product Name, Product Category, Product Container, Ship Mode, Ship Date, Cost Price, Retail Price, Profit Margin, Order Quantity, Sub Total, Discount %, Discount $, Order Total, Shipping Cost, Total, Shipping Duration]
Index: []

[0 rows x 25 columns]

In [132]:
# Q 14 Are all discount percentages matching discount dollar amounts?
expected_discount = df1["Sub Total"]*df1["Discount %"]/100
check = abs(df1["Discount $"]-expected_discount)<0.01
print("All match :",not check.all())

All match : True

In [133]:
# Q 15 Check for mismatches in total calculation
expected_total = df1["Sub Total"]-df1["Discount $"]+df1["Shipping Cost"]
mismatch = abs(df1["Total"]-expected_total) >0.01
print("\nAre all totals correct :",not mismatch.any())

Are all totals correct : False

In [134]:
# Q 16 Identify top 5 products by order quantity
top_products = df1.groupby("Product Name")["Order Quantity"].sum()
top_products = top_products.sort_values(ascending=False).head(5)
print(" Top 5 products \n",top_products)

 Top 5 products
 Product Name
Artisan 474 Labels                         3395.0
Smiths General Use 3-Ring Binders          3220.0
Artisan 479 Labels                         3039.0
Artisan 481 Labels                         2996.0
Apex Preferred Stainless Steel Scissors    2896.0
Name: Order Quantity, dtype: float64

In [135]:
# Q 17 Which Account Manager handled the most revenue ?
revenue = df1.groupby("Account Manager")["Total"].sum()
top_manager = revenue.sort_values(ascending=False).head(1)
print("\n",top_manager)

 Account Manager
Connor Betts    671173.17
Name: Total, dtype: float64

In [136]:
# Q 18 What is the average shipping cost by mode?
avg_shipping = df1.groupby("Ship Mode")["Shipping Cost"].mean()
print("\n Average shipping cost by mode \n",avg_shipping)

 Average shipping cost by mode
 Ship Mode
Delivery Truck    5.270085
Express Air       5.247311
Regular Air       5.503553
Name: Shipping Cost, dtype: float64

In [137]:
# Q 19 Find the most profitable product.
df1["Total Profit"] = df1["Sub Total"] - (df1["Cost Price"]*df1["Order Quantity"])
product_profit = df1.groupby("Product Name")["Total Profit"].sum()
most_profitable = product_profit.idxmax()
max_profit = product_profit.max()
print("\nMost profitable product:",most_profitable)
print("\nTotal profit : ",max_profit)

Most profitable product: Adesso Programmable 142-Key Keyboard

Total profit :  208587.75999999998

In [138]:
#Insightful Analysis Questions
#These questions aim to uncover key relationships and gain deeper knowledge about
#cardiovascular disease. To answer them, you’ll need to analyze the data and write down any
#patterns, trends, or observations you notice during the process.

# Q 1 What is the total revenue generated across all orders?
total_rev = df1["Order Total"].sum()
print("Total revenue : ",total_rev)

Total revenue :  3808999.85

In [139]:
# Q 2 Which customer type generates more revenue
revenue_cust = df1.groupby("Customer Type")["Order Total"].sum()
print("Customer with highst revenue : ",revenue_cust)

Customer with highst revenue :  Customer Type
Consumer           734848.79
Corporate         1352669.38
Home Office        871795.73
Small Business     849685.95
Name: Order Total, dtype: float64

In [140]:
# Q 3 How does order priority affect revenue
revenue_priority = df1.groupby("Order Priority")["Order Total"].sum()
print("Revenue by order priority :\n",revenue_priority)

Revenue by order priority :
 Order Priority
Critical         741607.62
High             799913.49
Low              645943.00
Medium           795910.24
Not Specified    825625.50
Name: Order Total, dtype: float64

In [141]:
# Q4 What is average profit margin by product category
profit_margin = df1.groupby("Product Category")["Profit Margin"].mean()
print(profit_margin)

Product Category
Furniture          12.701953
Office Supplies    17.682609
Technology         20.423208
Name: Profit Margin, dtype: float64

In [142]:
# Q5 What is the most profitable product overall
df1["Total Profit"] = df1["Profit Margin"]*df1["Order Quantity"]
most_profit = df1.groupby("Product Name")["Total Profit"].sum()
print("Most Profitable Product : \n",most_profit)

Most Profitable Product :
 Product Name
"Adams ""While You Were Out"" Message Pads"           64.26
"Addiss Metal Binder Clips                            12.24
1 Stacking Storage Drawers                           457.05
1-, Tonkins Steel Grame                              194.88
10 Colored Short Pencils                               7.55
                                                    ...
UGen Ultra Professional Cordless Optical Suite    182940.72
Unpadded Memo Slips                                  339.16
Wirebound Message Book, 4 per Page                  1328.92
Wirebound Voice Message Log Book                    2380.80
Xit Blank Computer Paper                            5072.15
Name: Total Profit, Length: 257, dtype: float64

In [143]:
# Q6  How many days does it usually take to ship an order?

avg_duration = df1["Shipping Duration"].mean()
print("Ans : ",avg_duration)

Ans :  1.8356

In [144]:
# Q7 Do longer shippinh times impact profit margins
cor_shipping = df1["Shipping Duration"].corr(df1["Profit Margin"])
print("Ans : ",cor_shipping)
if cor_shipping > 0:
  print("Yes longer shipping times impact profit margins")
else :
  print("No longer shipping times does not impact profit margins")

Ans :  -0.01978703518675135
No longer shipping times does not impact profit margins

In [145]:
# Q8 Which city brings in the highest revenue?
city_revenue = df1.groupby("City")["Order Total"].sum()
print("Ans : ",city_revenue.idxmax())

Ans :  Sydney

In [146]:
# Q9 Which account manager generated the most revenue?
revenue_manager = df1.groupby("Account Manager")["Order Total"].sum()
print("Ans : ",revenue_manager.idxmax())

Ans :  Connor Betts

In [147]:
# Q10  Which shipping mode is most cost-effective (lowest avg. shipping)?
avg_lowest_shipping = df1.groupby("Ship Mode")["Shipping Cost"].mean()
print("Ans : ",avg_lowest_shipping.idxmin())

Ans :  Express Air

In [148]:
# Q 11 Do higher discounts reduce profits?
cor_dic = df1["Discount %"].corr(df1["Total Profit"])
print("Ans : ",cor_dic)
if cor_dic > 0:
  print("Yes higher discounts reduce profits")
elif cor_dic < 0:
  print("No higher discounts does not reduce profits")
else:
  print("There is no significant relationship between discounts")

Ans :  -0.015493075455387586
No higher discounts does not reduce profits

In [149]:
# Q 12 Which state has the highest number of orders?
state_counts = df1["State"].value_counts()
top_state = state_counts.idxmax()
top_orders = state_counts.max()
print("State with highest order :",top_state)
print("Number of orders :",top_orders)

State with highest order : NSW
Number of orders : 3584

In [150]:
# Q 13 What is the average discount % across all orders?
avg_dis = df1["Discount %"].mean()
print("Average discount :",avg_dis)

Average discount : 5.0338

In [151]:
# Q 14 What is the average total spend per order?
avg_spend = df1["Order Total"].mean()
print("Average spend :",avg_spend)

Average spend : 761.79997

In [152]:
# Q 15 Are certain containers (e.g., Small Box, Wrap Bag) more profitable?
container = df1.groupby("Product Container")["Total Profit"].mean().sort_values(ascending=False)
print(container)

Product Container
Small Box     513.833058
Jumbo Drum    490.171368
Wrap Bag      488.048668
Small Pack    435.253503
Large Box     304.592786
Medium Box    301.818899
Name: Total Profit, dtype: float64